*{
    margin: 0;
    padding: 0;
     /* 内减模式 */
    box-sizing: border-box;
    }
    li{
    list-style: none;
    }
    p{
     text-decoration: none;
    }
    .clearfix::before,.clearfix::after{
    content: "";
     display: table;
    }
    .clearfix::after{
    clear: both;
    }


body{
    font-family: "微软雅黑";
    background-image: url(bj.png);
   background-size: 100%;
   overflow-x: hidden;
}
/*头部盒子*/
.header{
    height: 130px;
    width: 100%;
    margin: auto auto 30px auto;
    background-color: rgb(215, 249, 253);
}

.img1{
    float: left;
    position: absolute;
    width:350px;
    height: 100px;
    margin-top: 15px;
    margin-left: 20px;
}

/*菜单栏*/

.nav{
    position: absolute;
    width: 960px;
    height: 80px;
    background-color: #fff;
    margin-top: 25px;
    margin-left: 400px;
    border-radius: 15px;
    z-index: 10000;
}
.nav li{
    float: left;
    padding: 20px 10px;
}
.nav li span a{
    float: left;
    display: block;
    padding: 0 9px;
    height: 42px;
    font-size: 30px;
    color: #050505;
    text-decoration: none;
}
/*下滑菜单*/
.button{
    border-radius: 12px;
    width: 160px;
    float: left;
    transition: .3s;
    cursor: pointer;
}

.button:hover{
    background-color: #b6e5f6;
}

.button li:hover{
    background-color: #d3f8fd;
}

.button ul li{
    font-size: 30px;
    color: #eef5f6;
    height: 0;
    line-height: 25px;
    transition: .2s;
    opacity: 0;
    margin-top: -200px;
    transform: translateY(-65px);
    background-color: #b6e5f6;
}

.button:hover li{
    height: 65px;
    opacity: 1;
    margin-top: 0;
    transform: translateY(0);
}
/* 主体 */
.box{
    display: grid;
    grid-template-columns:1200px;
    grid-template-rows: 420px 420px 420px 420px 420px 170px;
    justify-content: center;
    grid-row-gap: 40px;
    border: 5px solid #fff;
    margin: 10px;
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5"
    "item-6"
    ;
}
/* 第一行 */
.item-1{
    grid-area: item-1;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    position: relative;
}
.one1{
    position: absolute;
    right: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(74, 198, 252);
    overflow: hidden;
}
.one1 img{
    cursor: pointer;
    transition: all 0.6s;
}
.one1 img:hover{
    transform: scale(1.4);
}
.two{
    margin: 10px;
    float: left;
    width: 700px;
    height: 400px;
}
.two h2{
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin-top: 40px;
}
.two p{
    margin-top: 45px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
}
.two h2{
    cursor: pointer;
    transition: all 2s;
}
.two h2:hover{
    color: rgb(152, 253, 255);

}
/* 第二行 */
.item-2{
    grid-area: item-2;
    display: flex;
    /* justify-self: center;  */
    align-items: center;
}
.one2{
    margin-left: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    border: 10px solid rgb(74, 198, 252);
    overflow: hidden;
}
.one2 img{
    cursor: pointer;
    transition: all 0.6s;
}
.one2 img:hover{
    transform: scale(1.4);
}
.two1{
    margin: 10px;
    float: left;
    width: 700px;
    height: 400px;
}
.two1 h2{
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
    font-size: 50px;
    color: #fff;
    text-align: right;
    margin-top: 35px;
}
.two1 p{
    margin-top: 35px;
    font-size: 30px;
    color: #fff;
    text-align: right;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
}
.two1 h2{
    cursor: pointer;
    transition: all 2s;
}
.two1 h2:hover{
    color: rgb(152, 253, 255);

}
/* 第三行 */
.item-3{
    grid-area: item-3;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    position: relative;
}
.one3{
    position: absolute;
    right: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(74, 198, 252);
    overflow: hidden;
}
.one3 img{
    cursor: pointer;
    transition: all 0.6s;
}
.one3 img:hover{
    transform: scale(1.4);
}
.two2{
    margin: 10px;
    float: left;
    width: 700px;
    height: 400px;
}
.two2 h2{
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin-top: 40px;
}
.two2 p{
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
}
.two2 h2{
    cursor: pointer;
    transition: all 2s;
}
.two2 h2:hover{
    color: rgb(152, 253, 255);

}
/* 第四行 */
.item-4{
    grid-area: item-4;
    display: flex;
    /* justify-self: center;  */
    align-items: center;
}
.one4{
    margin-left: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    border: 10px solid rgb(74, 198, 252);
    overflow: hidden;
}
.one4 img{
    cursor: pointer;
    transition: all 0.6s;
}
.one4 img:hover{
    transform: scale(1.4);
}
.two3{
    margin: 10px;
    float: left;
    width: 700px;
    height: 400px;
}
.two3 h2{
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
    font-size: 50px;
    color: #fff;
    text-align: right;
    margin-top: 35px;
}
.two3 p{
    margin-top: 35px;
    font-size: 30px;
    color: #fff;
    text-align: right;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
}
.two3 h2{
    cursor: pointer;
    transition: all 2s;
}
.two3 h2:hover{
    color: rgb(152, 253, 255);

}
/* 第五行 */
.item-5{
    grid-area: item-5;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    position: relative;
}
.one5{
    position: absolute;
    right: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(74, 198, 252);
    overflow: hidden;
}
.one5 img{
    cursor: pointer;
    transition: all 0.6s;
}
.one5 img:hover{
    transform: scale(1.4);
}
.two4{
    margin: 10px;
    float: left;
    width: 700px;
    height: 400px;
}
.two4 h2{
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin-top: 40px;
}
.two4 p{
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgb(74, 198, 252);
}
.two4 h2{
    cursor: pointer;
    transition: all 2s;
}
.two4 h2:hover{
    color: rgb(152, 253, 255);

}
/* 第六行 */
.item-6{
    grid-area: item-6;
    display: flex;
    align-items:center;
    /* background-color: #fff; */
    position: relative;
}
.four{
    display: flex;
    width: 1200px;
    height: 5px;
    margin: 0 auto;
    background-color: rgb(74, 198, 252);
    justify-content: center;
    align-items: center;
}
.four3{
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: 90px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
button{
    outline: 0;
    border: 0;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 10px rgb(74, 198, 252);
    border-radius: 100%;
    background: rgb(175, 175, 175,0.5);
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
button::before,
button::after{
    content: '';
    position: absolute;
    border-radius: 100%;
    background: rgb(74, 198, 252);
    width: 3rem;
    height: 3rem;
    top: calc(50% - 3rem / 2);
    left: calc(50% - 3rem / 2);
    animation: anim_radar 2s infinite;
    animation: anim_radar_after 3s infinite;
    z-index: -1;
}
@keyframes anim_radar_after{
    100%{
        transform: scale(3);
        opacity: 0;
    }
}
button a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.four2,.four1,.four4,.four5{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
button{
    outline: 0;
    border: 0;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 10px rgb(74, 198, 252);
    border-radius: 100%;
    background: rgb(175, 175, 175,0.5);
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
button::before,
button::after{
    content: '';
    position: absolute;
    border-radius: 100%;
    background: rgb(74, 198, 252);
    width: 3rem;
    height: 3rem;
    top: calc(50% - 3rem / 2);
    left: calc(50% - 3rem / 2);
    animation: anim_radar 2s infinite;
    animation: anim_radar_after 3s infinite;
    z-index: -1;
}
@keyframes anim_radar_after{
    100%{
        transform: scale(3);
        opacity: 0;
    }
}
button a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
/* 尾部 */
.backagrouud{
    width:100%;
    height: 400px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(224, 246, 255);
}

.wenzi{
    width: 1200px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}    
.hezi{
    width: 220px;
    height: 160px;
    margin-top: 40px;
    float: left;
}
.hezi1{
    width: 100px;
    height: 100px;
    background-image: url(cxt1.png);
    background-size:cover;
    float: left;
    border-radius: 50%;
}
.hezi2{
    width: 100px;
    height: 100px;
    background-image: url(./sucai/ewm.png);
    background-size:cover;
    float: right;
    border-radius: 20%;
}
.wenben{
    width: 220px;
    height: 200px;
    float: left;
    margin: 20px;
}
.wenben p{
    
    line-height: 32px;
    text-align: left;
    
}
.wenben p a{
    text-decoration: none;
    color:rgb(184, 187, 187); 
}

.wenzi .wenzin {
    font-family:"宋体";  
    float: right;
    text-align: right;
    padding: 20px 10px;
}
.wenzi .wenzin a{
    text-decoration: none;
    color: rgb(184, 187, 187);
}
.wenzin p a:hover{
    text-decoration: underline;
    color: aqua;
}
